<form action="/users/add" method="post">
    <label>Nome</label>
    <input name="nome"/>
    <label>Email</label> 
    <input type="email" name="email">
    <label>Senha</label>
    <input type="password" name="senha">
    <input type="submit" value="Enviar"/>
</form>
