<div class="mx-auto mt-3 loginA">
    <h1>Cadastre-se</h1>
<form action="/users/add" method="post">
    <div class="mb-3 col-12">
          <label>Nome</label>
          <input type="text" name="nome" class="form-control" id="exampleInputEmail1" required>
    </div>

    <div class="mb-3 col-12">
          <label>Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" required>
    </div>

    <div class="mb-3 col-12">
          <label>Senha</label>
          <input type="password" name="senha" class="form-control" id="exampleInputEmail1" required>
    </div>

    <input type="submit" class="btn btn-secondary" value="Enviar"/>
    
</form>
</div>