<label>ID</label>
<input value="{{post.id}}" readonly> 
<label>Titulo</label>
<input value="{{post.titulo}}" readonly>
<label>Texto</label>
<input value="{{post.texto}}" readonly>

<button><a href="/posts/index">Voltar</a></button>